:root {
  --main-color: white;
  --main-text-color: white;
  --background-color: radial-gradient(circle at top, hsl(214, 47%, 23%, 0.95), hsl(237, 49%, 15%, 0.95))
}

/* use variale var(--name)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 1.8px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  height: 100%;
}
#root {
  height: 100%;
  background-image: var(--background-color);
  overflow-x: hidden;
}
/*--------------------------------------------------------------------*/
header {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.scoreContainer {
  width: 100%;
  max-width: 700px;
  padding: 16px;
  border: 4px solid rgba(89, 103, 129, 0.874);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
}
.theScore {
  width: 150px;
  height: 114px;
  border-radius: 8px;
  background-color: white;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.theScore h4 {
  color: hsl(229, 64%, 46%);
  margin: 0;
}
.theScore p {
  font-size: 65px;
  color: hsl(229, 25%, 31%);
  margin: 8px 0 0 0;
  line-height: 45px;
}
/*--------------------------------------------------------------------*/
.selectWeapon {
  margin: 50px 0 50px 0;
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.colorfulBoxes {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorfulBoxes-Small {
  width: 200px;
  height: 200px;
  min-width: 120px;
}
.colorfulBoxes-Big {
  width: 300px;
  height: 300px;
}
.scissors {
  background-image: radial-gradient(circle, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -8px 2px #C76C1D;
}
.paper {
  background-image: radial-gradient(circle, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -8px 2px #2945C1;
}
.rock {
  background-image: radial-gradient(circle, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -8px 2px #A11736;
}
.innerWhite {
  background-color: #E3E3E3;
  border-radius: 100%;
  box-shadow: inset 0px 8px 2px #BABFD5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerWhite-Small {
  width: 150px;
  height: 150px;
}
.innerWhite-Big {
  width: 225px;
  height: 225px;
}
.innerWhite button {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.innerWhite button img {
  width: 60%; 
}
.colorfulBoxesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.blackTriangle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
}
.blackTriangle img {
  width: 286px;
}
.colorfulBoxesContainer .colorfulFlex {
  position: absolute;
}
.colorfulBoxesContainer .colorfulFlex:first-child {
  top: -100px;
  left: -100px;
}
.colorfulBoxesContainer .colorfulFlex:nth-of-type(2) {
  top: -100px;
  right: -100px;
}
.colorfulBoxesContainer .colorfulFlex:nth-of-type(3) {
  bottom: -100px;
}
.colorfulFlex {
  position: relative;
}
/*--------------------------------------------------------------------*/
.resultUI {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.playersContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 920px;
}
.playersContainer h2 {
  text-align: center;
  margin-bottom: 60px;
}
.playersContainer > div:first-child, .playersContainer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}
.playersContainer > div:first-child {
  margin-right: 10px;
}
.playersContainer > div:last-child {
  margin-left: 10px;
}
/*--------------------------------------------------------------------*/
.announce {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  z-index: 2;
}
.announce h1 {
  font-size: 58px;
  color: white;
  text-align: center;
  margin-bottom: 27px;
  line-height: 50px;
}
.announce button {
  width: 220px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  border: 1px black solid;
  color: #BE3954;
  cursor: pointer;
  font-weight: 700;
}
/*--------------------------------------------------------------------*/
.animation-one {
  animation-name: comeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.animation-two {
  animation-name: computer;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.68, 0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
@keyframes comeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes computer {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*--------------------------------------------------------------------*/
.animatedCircles {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.animate-circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.25);
  animation-name: circles;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
}
@keyframes circles {
  0% {opacity: 0.25; transform: scale(1);}
  100% {opacity: 0;transform: scale(2);}
}
/*--------------------------------------------------------------------*/
footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}
footer button {
  width: 130px;
  height: 42px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px rgba(89, 103, 129, 0.874) solid;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
/*--------------------------------------------------------------------*/
.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -2;
}
/*--------------------------------------------------------------------*/
.rulesModal {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 12px;
}
.rulesModal > div {
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 34px 36px 34px;
}
.rulesModal > div img {
  width: 100%;
}
.modalHeader {
  width: 100%;
  margin: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalHeader h1 {
  color: #3D4260;
  font-weight: 700;
}
.modalHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  font-size: 22px;
  color: #BABFD5;
  text-align: center;
  letter-spacing: 0;
  background-color: transparent;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.modalHeader button:hover {
  color: #3D4260;
}
/*--------------------------------------------------------------------*/
.attribution {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
.attribution p {
  font-size: 40px;
  color: white;
  font-weight: 600;
  line-height: 60px;
}
.attribution a {
  text-decoration: none;
  color: rgba(73, 78, 224, 0.95);
  transition: 0.3s ease;
}
.attribution a:hover {
  color: rgba(255, 166, 1, 0.95);
}
/*--------------------------------------------------------------------*/
@media (max-width: 900px) {
  .colorfulBoxes-Small {
    width: 120px;
    height: 120px;
  }
  .innerWhite-Small {
    width: 90px;
    height: 90px;
  }
  .colorfulBoxes-Big {
    width: 160px;
    height: 160px;
  }
  .innerWhite-Big {
    width: 120px;
    height: 120px;
  }
  .colorfulBoxesContainer .colorfulFlex:first-child {
    top: -60px;
    left: -60px;
  }
  .colorfulBoxesContainer .colorfulFlex:nth-of-type(2) {
    top: -60px;
    right: -60px;
  }
  .colorfulBoxesContainer .colorfulFlex:nth-of-type(3) {
    bottom: -60px;
  }
  .blackTriangle img {
    width: 200px;
  }
  header {
    margin-bottom: 100px;
  }
  .attribution {
    align-items: flex-start;
  }
  .attribution p {
    font-size: 20px;
    color: white;
    font-weight: 600;
    line-height: 30px;
  }
  .scoreContainer img {
    width: 100px;
  }
  .theScore {
    width: 80px;
  }
  .theScore p {
    font-size: 40px;
  }
  .playersContainer {
    flex-wrap: wrap;
    max-width: 600px;
  }
  .playersContainer > div:first-child {
    order: 1;
  }
  
  .playersContainer > div:last-child {
    order: 2;
  }
  .announce {
    order: 3;
  }
  .animatedCircles {
    width: 160px;
    height: 160px;
  }
  .animate-circle {
    width: 160px;
    height: 160px;
  }
  .announce h1 {
    font-size: 28px;
  }
  .announce button {
    width: 180px;
  }
  .playersContainer h2 {
    width: 200px;
    height: 70px;
    margin-bottom: 20px;
  }

}
@media (max-width: 500px) {
  .blackTriangle img {
    width: 150px;
  }
  header {
    margin-bottom: 150px;
  }
}